;; -*- mode:lisp -*-

(
 (
  (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, 0))))))))))))))))))))))),
  ((0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (2, (0, (0, (0, (2, (0, (0, (0, (0, (2, (0, (2, (0, (0, (0, (0, (2, (0, (0, (0, (2, (0, 0))))))))))))))))))))))),
((0, (3, (0, (0, (0, (2, (0, (0, (0, (0, (2, (0, (2, (0, (0, (0, (0, (2, (0, (0, (0, (3, (0, 0))))))))))))))))))))))),
((0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (2, (0, (0, (0, (2, (0, (2, (0, (0, (0, (0, (0, (0, (0, (2, (0, (2, (0, (0, (0, (2, (0, 0))))))))))))))))))))))),
((0, (2, (2, (2, (2, (2, (0, (2, (2, (2, (2, (0, (2, (2, (2, (2, (0, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (0, (0, (0, (0, (2, (0, (0, (0, (0, (1, (0, (1, (0, (0, (0, (0, (2, (0, (0, (0, (0, (0, 0))))))))))))))))))))))),
((0, (1, (1, (1, (0, (2, (0, (1, (1, (1, (1, (6, (1, (1, (1, (1, (0, (2, (0, (1, (1, (1, (0, 0))))))))))))))))))))))),
((0, (0, (0, (0, (0, (2, (0, (1, (0, (0, (0, (1, (0, (0, (0, (1, (0, (2, (0, (0, (0, (0, (0, 0))))))))))))))))))))))),
((0, (1, (1, (1, (1, (2, (1, (1, (0, (1, (6, (6, (6, (1, (0, (1, (1, (2, (1, (1, (1, (1, (0, 0))))))))))))))))))))))),
((0, (0, (0, (0, (0, (2, (0, (1, (0, (0, (0, (0, (0, (0, (0, (1, (0, (2, (0, (0, (0, (0, (0, 0))))))))))))))))))))))),
((0, (1, (1, (1, (0, (2, (0, (1, (1, (1, (1, (4, (1, (1, (1, (1, (0, (2, (0, (1, (1, (1, (0, 0))))))))))))))))))))))),
((0, (0, (0, (0, (0, (2, (0, (1, (0, (0, (0, (0, (0, (0, (0, (1, (0, (2, (0, (0, (0, (0, (0, 0))))))))))))))))))))))),
((0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (2, (0, (0, (0, (2, (0, (0, (0, (0, (2, (0, (2, (0, (0, (0, (0, (2, (0, (0, (0, (2, (0, 0))))))))))))))))))))))),
((0, (3, (2, (2, (0, (2, (2, (2, (2, (2, (2, (5, (2, (2, (2, (2, (2, (2, (0, (2, (2, (3, (0, 0))))))))))))))))))))))),
((0, (0, (0, (2, (0, (2, (0, (2, (0, (0, (0, (0, (0, (0, (0, (2, (0, (2, (0, (2, (0, (0, (0, 0))))))))))))))))))))))),
((0, (2, (2, (2, (2, (2, (0, (2, (2, (2, (2, (0, (2, (2, (2, (2, (0, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (2, (0, (0, (0, (0, (0, (0, (0, (0, (2, (0, (2, (0, (0, (0, (0, (0, (0, (0, (0, (2, (0, 0))))))))))))))))))))))),
((0, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (2, (0, 0))))))))))))))))))))))),
((0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, (0, 0))))))))))))))))))))))), ;; Map data
0)))))))))))))))))))))), ;; ???

((0, ;; Vitality(power pill counter)
  ((11, 16), ;; Coordinates
   (2, ;; Direction
    (3, 0)))), ;; Lives, score

 (((0, ;; Ghost vitality, 0 - standart, 1 - fright mode, 2 - invisible
    ((11, 8), ;; Ghost coordinates
     2)), ;; Direction
   ((0, ((10, 10), 2)), ;; Ghost 2
    ((0, ((11, 10), 2)), ;; Ghost 3
     ((0, ((12, 10), 2)), ;; Ghost 4
      0)))), ;; Fruit (n > 0 - present), no fruit means empty list(0), when
             ;; theres fruit there will be counter + fruit coordinates ?
  0 ;; L-man move(as direction)
  )))
